body {
    font-family: Cambria;
    color: blue;
    background-color: cadetblue;
}

img {
    width: 300px;
    transition: transform 2s;
}

img:hover {
    transform: rotate(90deg);
}

div {
    margin: 50px;
}

button {
    transition: transform 2s;
}

.red-text {
    color: red;
}