html,body {
  background: red;
  font-family: "Comic Sans MS";
}

img {
  border: none;
  float: left;
  height: 400px;
}

#walter-container {
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  width: 1000px;
}

#walter-container h1 {
  color: black;
  font-family: times;
  font-size: 112px;
  margin: 0;
}

#walter-container h3 {
  font-size: 40px;
  font-weight: normal;
  color: yellow;
  margin-top: 0;
}

#walter-container p{
  font-weight: bold;
  font-size: 24px;
  color: yellow;
}
